// Learn more about what's going on here:
// @link https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/

$type-ratios: (
    "minorSecond": 1.067,
    "majorSecond": 1.125,
    "minorThird": 1.2,
    "majorThird": 1.25,
    "perfectFourth": 1.333,
    "augmentedFourth": 1.414,
    "perfectFifth": 1.5,
    "goldenRatio": 1.618
);

@function type-ratio($key) {
    @return map-get($type-ratios, $key);
}

@mixin generate-headings ($ratio: "goldenRatio", $screen: 4vw, $reduction_1: 0.5, $base-size: 1rem) {

    $type-base-size: $base-size;                    // Recommended
    $type-size-ratio: type-ratio($ratio);           // Select by key of map, or use a custom value
    $type-levels: 4, 3, 2, 1;                       // List in descending order to prevent extra sort function Limited to high-touch heading styles

    // Create map with h[x] as key and computed font-size as value
    $type-styles: ();
    $level-size: $type-base-size;
    //$level-size: $level-size / $type-size-ratio;

    @each $level in $type-levels {

        $level-size: $level-size * $type-size-ratio;
        $type-styles: map-merge($type-styles, (#{"h"}$level: $level-size));

        // Limit in place based on testing -> smaller ratios are prematurely or unnecessarily reduced

        @if ($type-size-ratio > 1.2) {

            // Remove unit for calculations
            $level-unitless: $level-size / ($level-size * 0 + 1);

            // Set minimum size to a percentage less than $level-size. Reduction is greater for large font sizes (> 4rem) to help prevent overflow due to font-size on mobile devices
            $fluid-reduction: if($level-size > 4, $reduction_1, 0.33);
            $fluid-min: $level-unitless - ($fluid-reduction * $level-unitless);

            // Prevent dropping lower than 1rem (body font-size)
            $fluid-min: if($fluid-min > $type-base-size, $fluid-min, 1);

            // Adjust max modifier slightly per level to prevent "same" size or lower levels appaering larger than higher levels 4vw was selected by testing from $type-ratios map, YMMV 🙃
            $fluid-scaler: ($level-unitless - $fluid-min) + $screen;

        }

        $font-size: clamp(#{$fluid-min}rem, #{$fluid-scaler} #{'+ 1rem'}, #{$level-size});

        --h#{$level}-font-size: #{$font-size};

        h#{$level} {

            line-height: calc(2px + 2ex + 2px); // Recommendation courtesy of this brilliant work: @link https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/
            font-size: $level-size; // Fallback for browsers that don't support min / max
            font-size: var(--h#{$level}-font-size);

        }

    }
}

@function type-style($key) {
    @return map-get($type-styles, $key);
}