body {

	*:focus { outline: none !important; }

	.p-pad,
	.ct-inner-content,
	.ct-text-block,
	.ct-span {

		> p, > h1, > h2, > h3, > h4, > h5, > h6 {

			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }

		}

	}

	iframe { border: 0; }
	figure { margin: 0; }

}

[data-width=full] > .ct-section-inner-wrap { max-width: 100%; padding: 0; }
[data-padding=none] > .ct-section-inner-wrap { max-width: 100%; padding: 0; }

.ct-text-block + .ct-text-block {
    margin-top: 1rem;
}

.ct-headline + .ct-headline {
    margin-top: 0;
}

.ct-section > .ct-section-inner-wrap {
    align-items: center;
}

// OXYGEN MIXINS

@mixin hamburger-animation ($duration: 0.25s) {

	nav {

		.oxy-nav-menu-hamburger-wrap {

			.oxy-nav-menu-hamburger-line {
	
				transition: $duration;
	
				&:nth-child(1) { transition-delay: 0s; }
				&:nth-child(2) { transition-delay: $duration / 4; }
				&:nth-child(3) { transition-delay: $duration / 2; }
	
			}
	
			&:hover,
			&:active {
	
				.oxy-nav-menu-hamburger-line {
	
					transform: rotate(180deg);
					
				}
				
			}
	
		}

		&.oxy-nav-menu-open {

			.oxy-nav-menu-hamburger-wrap {

				&:hover,
				&:active {
		
					.oxy-nav-menu-hamburger-line:nth-child(1) {
	
						transform: rotate(90deg);
						
					}
					
				}

			}

		}

	}

}

@mixin hamburger ($border-radius: 3px) {
	.oxy-nav-menu-hamburger-wrap .oxy-nav-menu-hamburger-line {
		border-radius: $border-radius;
		@content;
	}
}

@mixin hamburger-hover {
	.oxy-nav-menu-hamburger-wrap:hover .oxy-nav-menu-hamburger-line {
		@content;
	}
}

@mixin hamburger-active {
	.oxy-nav-menu-hamburger-wrap:active .oxy-nav-menu-hamburger-line {
		@content;
	}
}

@mixin hamburger-interact {
	.oxy-nav-menu-hamburger-wrap:active .oxy-nav-menu-hamburger-line,
	.oxy-nav-menu-hamburger-wrap:hover .oxy-nav-menu-hamburger-line {
		@content;
	}
}