// MIXINS

@mixin woo-block {
    box-shadow: var(--woo-block-shadow);
    border-radius: var(--woo-border-radius);
    border: var(--woo-block-border);
    background: var(--woo-block-background);
    padding: var(--woo-block-padding);

    @include p-pad();

}

@mixin woo-nested-block {
    box-shadow: var(--woo-nested-block-shadow);
    border: var(--woo-nested-block-border);
}

@mixin woo-unblock {

    

}

@mixin woo-field-focus {
    box-shadow: var(--woo-field-focus-box-shadow);
}

@mixin woo-reset-field-focus {
    box-shadow: initial;
}

@mixin woo-coupon-field {
    text-transform: var(--woo-coupon-field-text-transform);
    letter-spacing: var(--woo-coupon-field-letter-spacing);
}

@mixin woo-reset-form-row {

    background-color: initial;
    border-radius: initial;
    padding: 0;
    margin-bottom: 0;

}

@mixin woo-table-block {

    border-spacing: 0;
    border-radius: var(--woo-border-radius);
    border: var(--woo-block-border);
    background: var(--woo-block-background);
    box-shadow: var(--woo-block-shadow);
    padding: var(--woo-table-padding);

}

.woo-block {

    @include woo-block();

}

// CSS VARIABLES

:root {

    --woo-page-background: #fbfbfb;

    --woo-header-margin-bottom: 0.5em;
    --woo-spacing: 1rem;

    --woo-border-color: #eee;
    --woo-border-radius: 0.5rem;

    --woo-field-background: #f7f7f8;
    --woo-field-focus-box-shadow: 0px 0px 0px 2px #646464 inset;
    --woo-field-label-color: #909090;
    --woo-field-color: #111;
    --woo-required-color: var(--wc-red);

    --woo-block-padding: calc(var(--woo-spacing) * 2);
    --woo-block-margin: calc(var(--woo-spacing) * 2);
    --woo-block-shadow: 0px 4.5px 3.6px rgba(0, 0, 0, 0.024), 0px 12.5px 10px rgba(0, 0, 0, 0.035), 0px 30.1px 24.1px rgba(0, 0, 0, 0.046), 0px 100px 80px rgba(0, 0, 0, 0.07);
    --woo-block-border: none;
    --woo-block-background: white;

    --woo-table-padding: 0;

    --woo-nested-block-shadow: none;
    --woo-nested-block-border: 1px solid var(--woo-border-color);

    --woo-coupon-field-text-transform: uppercase;
    --woo-coupon-field-letter-spacing: 1px;

}

@media only screen and (max-width: 420px) {

    :root {

        --woo-block-padding: var(--woo-spacing);
        --woo-block-margin: var(--woo-spacing);

    }

}

// RESET OXYGEN - WOO

body {

    .oxy-woo-order-tracking form,
    .woocommerce form.woocommerce-ResetPassword.lost_reset_password,
    .woocommerce .woocommerce-EditAccountForm,
    .woocommerce .woocommerce-address-fields,
    .woocommerce-cart .cart-collaterals .cart_totals table,
    .woocommerce .col2-set,
    .woocommerce-form-coupon,
    .woocommerce #reviews #comments ol.commentlist li .comment-text,
    ul.woocommerce-order-overview,
    .woocommerce form.login,
    .woocommerce form.register,
    .woocommerce form.checkout_coupon,
    .woocommerce table.shop_table {

        padding: 0;
        border: 0;
        box-shadow: none;
        background: transparent;

    }

    table.shop_table td,
    table.shop_table tfoot td,
    table.shop_table tfoot th,
    table.shop_table th {

        padding: calc(var(--woo-block-padding) / 2);

    }

}

// LETS GO

body {

    // NOTICES

    .woocommerce-notices-wrapper {

        /* margin-bottom: var(--woo-spacing); */

    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {

        @include woo-block();

        border-left: 0;
        border-right: 0;
        border-bottom: 0;

        padding: 1em 2em 1em 3.5em;

        margin-bottom: var(--woo-spacing);

    }

    /* .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {

        border-left: 0;
        border-right: 0;
        border-bottom: 0;

        margin-bottom: var(--woo-spacing);

        @include woo-block();

        padding: var(--woo-spacing);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3.5em;

        &:not(:last-child) {

            margin-bottom: var(--woo-spacing);

        }

        &:before {

            position: absolute;
            top: initial;

        }

        a.button {

            float: none;
            order: 1;
            margin-left: auto;

        }

        > li {

            &:not(:last-child) {

                margin-bottom: calc(var(--woo-spacing) / 4);

            }

        }

    } */

    /* .woocommerce-NoticeGroup {

        width: 100%;

        .woocommerce-error,
        .woocommerce-info,
        .woocommerce-message {

            flex-direction: column;
            align-items: flex-start;

        }

    } */

    .woocommerce:not(.wrap) {

        // GENERIC ELEMENTS

        &:not(.dummy) {

            h2, h3 {

                margin-bottom: var(--woo-header-margin-bottom); 
                
            }

        }

        a.remove {

            color: var(--wc-red) !important;
            line-height: 0.95;
            font-family: monospace;

            &:hover {

                text-decoration: none;
                background: var(--wc-red);
                color: #fff !important;

            }

        }

        table tr:first-child {

            border-top: 0;

        }

        form {

            .form-row-first,
            .form-row-last {
            
                width: calc(50% - (var(--woo-spacing) / 2));

                @media only screen and (max-width: 600px) {

                    width: 100%;
                    float: none;

                }

            }

        }

        table.shop_table {

            @include woo-table-block();

            border-collapse: separate;

            td {
                border-top: 1px solid var(--woo-border-color);
            }


        }


        // END OXY RESET

        form { // Do not add further list of :not( ... ) here to avoid increasing the specifity.

            @include woo-block;

            position: relative;
            border: 0;

            .form-row {

                background-color: var(--woo-field-background);
                border-radius: var(--woo-border-radius);
                padding: calc(var(--woo-spacing) / 2) calc(3 * var(--woo-spacing) / 4);
                margin-bottom: var(--woo-spacing);

                &:last-child {

                    margin-bottom: 0;

                }

                &:focus-within {

                    @include woo-field-focus();

                }

                > label {

                    font-size: 0.8em;
                    margin-bottom: 0;
                    line-height: 1.4;
                    font-weight: 600;
                    color: var(--woo-field-label-color);

                }

                .woocommerce-input-wrapper {

                    display: flex;
                    flex-direction: column;

                    &.woocommerce-input-wrapper-radio {

                        $woo-input-radio-width: 24px;

                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;

                        input[type=radio],
                        label {

                            margin-top: var(--woo-spacing);
                            cursor: pointer;

                            &:last-of-type {

                                margin-bottom: calc(var(--woo-spacing) / 2);

                            }

                        }

                        input[type=radio] {

                            background: white;
                            display: block;
                            width: $woo-input-radio-width;
                            height: $woo-input-radio-width;
                            border: 0;

                            &:hover {

                                box-shadow: 0px 0px 0px 2px var(--woo-field-color);
                                
                            }

                            &:checked {

                                background-color: var(--woo-field-color);
                                box-shadow: 0px 0px 0px 6px inset white, 0px 0px 0px 2px var(--woo-field-color);

                                &:hover {

                                    box-shadow: 0px 0px 0px 8px inset white, 0px 0px 0px 2px var(--woo-field-color);

                                }

                            }
            
                        }

                        label {

                            flex-grow: 1;
                            display: block;
                            width: calc(100% - #{$woo-input-radio-width});
                            padding-left: var(--woo-spacing);
                            line-height: initial;
                            color: initial;
                            font-size: 0.9em;

                            span.line {

                                display: block;

                                &:not(:last-child) {

                                    margin-bottom: calc(var(--woo-spacing) / 4);

                                }

                            }

                        }

                    }
            
                    .normal-description {
            
                        display: flex;
                        order: -1;
                        margin-bottom: 0.5em;
                        margin-top: 0.25em;
                        font-size: 0.9em;
            
                    }

                }

                .required {

                    color: var(--woo-required-color);

                }

            } // .form-row

            input,
            select,
            textarea {

                border: 0;
                background-color: transparent;
                padding: 0.25em 0;
                /* font-family: var(--woo-font-family; */
                font-size: 1em;
                line-height: 1;
                color: var(--woo-field-color);

                &:focus-within {
                    border: 0;
                    outline: 0;
                }

                &::placeholder {
                    color: #b6b6b6;
                }
                  
                &:-ms-input-placeholder {
                    color: #b6b6b6;
                }
                  
                &::-ms-input-placeholder {
                    color: #b6b6b6;
                }

                &:focus {
                    box-shadow: none;
                }

            }

            textarea {

                resize: vertical;

            }

            .show-password-input {

                top: 0;

                &.display-password::after {

                    color: var(--wc-highlight);

                }

            }

            fieldset {

                margin-bottom: var(--woo-spacing);
                border-radius: var(--woo-border-radius);
                border: calc(var(--woo-spacing) / 4) solid var(--woo-field-background);
                padding: 0 var(--woo-spacing);

                legend {

                    display: block;
                    padding-left: calc(var(--woo-spacing) / 2);
                    padding-right: calc(var(--woo-spacing) / 2);
                    color: #cacaca;
                    font-size: 0.8em;
                    font-weight: bold;

                }
                
                @media only screen and (max-width: 420px) {

                    border-radius: var(--woo-border-radius) 0 0 var(--woo-border-radius);
                    padding-right: 0;
                    border-right: 0;

                }

                .form-row:last-child {

                    margin-bottom: var(--woo-spacing);

                }

            }

            span.select2 {

                .select2-selection--single {

                    border: 0;
                    background-color: transparent;
                    /* font-family: var(--woo-font-family); */
                    font-size: 1em;
                    padding: 0.5em 0;
                    height: auto;

                    .select2-selection__rendered {

                        color: var(--woo-field-color);
                        line-height: 1;
                        padding: 0;

                    }

                    .select2-selection__arrow {

                        width: var(--woo-spacing);
                        height: var(--woo-spacing);
                        top: auto;
                        bottom: calc(var(--woo-spacing) / 2);
                        right: 0;

                    }

                }
        
            }

            &.woocommerce-form-login,
            &.woocommerce-form-register {

                input {

                    font-size: 1.2em;

                }

                .show-password-input {

                    top: 0.4em;
                    right: 0.5em;

                }

                label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {

                    margin-top: 0;

                }

            }

            &.woocommerce-form-login {

                > p:nth-child(3) {

                    @include woo-reset-form-row();
                    @include woo-reset-field-focus();

                }

                .lost_password {

                    margin-bottom: 0;
                    margin-top: var(--woo-spacing);

                }

                .form-row:nth-child(3) { // Submit + remember me row

                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;

                    .woocommerce-form-login__rememberme {

                        margin-left: auto;

                    }

                }

            }

            &.woocommerce-form-register {

                > p:last-child {

                    @include woo-reset-form-row();
                    @include woo-reset-field-focus();

                }

                .woocommerce-password-strength {

                    border-radius: var(--woo-border-radius);

                }

            }

        } // form:not(.woocommerce-shipping-calculator)

        form.checkout_coupon {

            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > p:not(.form-row) {

                margin: 0;
                margin-bottom: calc(var(--woo-spacing) / 2);
                width: 100%;

            }

            .form-row {

                float: none;
                width: auto;

                &.form-row-first {

                    flex-grow: 1;
                    margin-right: var(--woo-spacing);

                    input {

                        @include woo-coupon-field();

                    }

                }

                &.form-row-last {

                    display: flex;
                    justify-content: flex-end;
                    padding: 0;
                    background-color: transparent;

                }
                
            }

            .clear {
                display: none;
            }

        }

    } // .woocommerce

    // ACCOUNT AREA

    &.woocommerce-account {

        background: var(--woo-page-background);

        &:not(.logged-in) {

            // Login Screen

            .woocommerce {

                flex-direction: column;
        
            }

        }

        .woocommerce {

            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            > * {

                float: none;

            }

            .woocommerce-notices-wrapper {

                width: 100%;

            }

            nav.woocommerce-MyAccount-navigation {

                /* position: sticky;
                top: 0; */
                width: 100%;
                max-width: 260px;
                margin-right: var(--woo-block-margin);
                border-radius: var(--woo-border-radius);
                padding: calc(var(--woo-spacing) / 2);

                background: white;
                box-shadow: var(--woo-block-shadow);
                border: var(--woo-block-border);

                /* @include media ("<phone-landscape") {

                    margin-right: calc(var(--woo-block-margin) * 0.5);

                } */

                + div{

                    flex-grow: 1;

                }
                
                ul {

                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding-left: 0;
                
                    li {

                        padding: calc(var(--woo-spacing) / 8) 0;
                        //padding: 0.125rem 0;

                        &:first-child {

                            padding-top: 0;

                        }
                        
                        &.is-active a {

                            text-decoration: none;
                            background-color: #efefef99;
                            color: #111;

                        }

                        a {

                            position: relative;

                            transition: 0.2s;

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;

                            padding: calc(var(--woo-spacing) / 2) var(--woo-spacing);
                            border-radius: var(--woo-border-radius);
                            color: #999999;
                            font-weight: 600;
                            font-size: 0.9em;

                            &:before,
                            &:after {
                                content: "";
                                position: absolute;
                                width: 0.45em;
                                height: 0.15em;
                                right: 1em;
                                top: 0;
                                bottom: 0;
                                margin-top: auto;
                                margin-bottom: auto;
                                transform-origin: calc(100% - (0.15em / 2)) 50%;
                                background-color: currentColor;
                                opacity: 0;
                                transition: 0.2s;
                            }
                        
                            &:before {
                                transform: translate(-1em, 0.05em) rotate(45deg)
                            }
                        
                            &:after {
                                transform: translate(-1em, 0.05em) rotate(-45deg)
                            }

                            i {
                                margin-right: calc(3 * var(--woo-spacing) / 4);
                                font-size: 1.2em;
                                display: block;
                            }

                            &:hover,
                            &:active,
                            &:focus-within {

                                text-decoration: none;
                                color: #111;

                                &:before,
                                &:after {
                                    opacity: 1;
                                }

                                &:before {
                                    transform: translate(0px, 0.05em) rotate(45deg)
                                }
                            
                                &:after {
                                    transform: translate(0px, 0.05em) rotate(-45deg)
                                }

                            }

                            &:hover {

                                background-color: #efefef;

                            }

                            &:active,
                            &:focus-within {

                                background-color: #efefef99;

                            }

                            &:focus-within {
                                outline: #121212 auto 1px;
                            }

                        }

                    }

                }

                // Maybe when we have more time to make a fancy mobile menu:

                /* @media only screen and (max-width: 600px) {

                    width: auto;

                    ul {

                        li {

                            a {

                                font-size: 1em;
                                padding: calc(3 * var(--woo-spacing) / 4) var(--woo-spacing);

                                &:before,
                                &:after {
                                    content: none;
                                }

                                i {

                                    margin-right: 0;

                                }

                                span {

                                    position: absolute;
                                    opacity: 0;

                                }

                            }

                        }

                    }

                } */

            } // nav.woocommerce-MyAccount-navigation

            .woocommerce-MyAccount-content {

                position: relative;
                z-index: 1;

                form {

                    /* @include woo-block(); */

                    h3:first-of-type {

                        margin-top: 0;

                    }

                }

                table.woocommerce-orders-table {

                    @include woo-block();
                    padding: 0;

                    .woocommerce-orders-table__cell-order-actions {

                        &:before {

                            content: none;

                        }

                        a {

                            padding: calc(var(--woo-spacing) / 2) var(--woo-spacing);

                            &:last-child {

                                margin-bottom: 0;
    
                            }

                        }

                    }

                }

                header.woocommerce-Address-title {

                    display: flex;
                    flex-direction: column;

                }

            } // .woocommerce-MyAccount-content

            @media only screen and (max-width: 600px) { // &.woocommerce-account .woocommerce

                flex-direction: column;

                nav.woocommerce-MyAccount-navigation {

                    max-width: initial;
                    margin-bottom: calc(var(--woo-spacing) * 2);
                    margin-right: 0;

                }

            }

        }

    } // body.woocommerce-account

    // CART

    &.woocommerce-cart {

        .woocommerce {

            form.woocommerce-cart-form {

                padding: 0;
                margin-bottom: var(--woo-block-margin);
                box-shadow: none; // Prevent double shadow
    
                tr:last-child {

                    border-top: 0;

                    td {
    
                        padding: calc(var(--woo-block-padding) / 2);
        
                    }

                }
    
                td.product-thumbnail {
    
                    a {
    
                        &:hover {
    
                            opacity: 0.9;
    
                        }
    
                        img {
    
                            border-radius: calc(var(--woo-border-radius) / 2);
                            border: 0;
        
                        }
    
                    }
    
                }
    
                td.actions {
    
                    padding: 0;
                    padding-top: var(--woo-spacing);
    
                    > .coupon {

                        display: flex;
                        flex-direction: row;

                        input {

                            min-width: 160px;
                            margin-right: var(--woo-spacing);
                            border: 1px solid transparent;
                            background: var(--woo-field-background);
                            @include woo-coupon-field();

                            &:focus {

                                box-shadow: none;
                                border: 1px solid currentColor;

                            }

                        }
    
                        button {
    
                            align-items: center;
    
                        }
    
                    }
    
                    > button[name="update_cart"] {
    
                        display: block;
                        margin-left: auto;
    
                    }
    
                    @media only screen and (max-width: 768px) {
    
                        background-color: transparent;
    
                        > .coupon {
    
                            margin-bottom: var(--woo-spacing);
                            padding-bottom: 0;
    
                            input,
                            button {
    
                                width: calc(50% - (var(--woo-spacing) / 2)) !important;
    
                            }
    
                        }
    
                    }
    
                }
    
            } // form.woocommerce-cart-form
    
            .cart-collaterals {
    
                position: relative;
    
                table.shop_table {
    
                    @include woo-table-block();
    
                    tr:first-child {
    
                        border-top: 0;
    
                    }
    
                    th,
                    td {
    
                        vertical-align: middle;
    
                    }
    
                }
    
            }

        }
 
    }

    // CHECKOUT

    &.woocommerce-checkout {

        .woocommerce {

            .woocommerce-form-coupon-toggle {

                margin-bottom: var(--woo-spacing);
                
                a.showcoupon {

                    margin-left: var(--woo-spacing);

                }

            }

            form.checkout_coupon {

                @include woo-block();

            }

            form.checkout {

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 !important;
                /* overflow: hidden; */
    
                .woocommerce-error {
    
                    box-shadow: none;
                    border-radius: 10px 10px 0 0;
                    border-left: 0;
                    border-right: 0;
                    margin-bottom: 0;
    
                }

                h3:not(:first-child) {

                    margin-top: var(--woo-spacing);

                }
    
                .customer-details-wrap {
    
                    width: 50%;
                    padding: var(--woo-block-padding);
    
                }
    
                .col2-set,
                .checkout-order-review-wrap {
    
                    width: 100%;
    
                    @media only screen and (max-width: 900px) {
    
                        width: 100%;
                        
                    }
    
                }
    
                .col2-set {
    
                    /* padding: var(--woo-block-padding); */
                    border: 0;
    
                    > div {
    
                        width: 100%;
                        /* max-width: 600px; */
                        float: none
    
                    }
    
                    h3 {
    
                        margin-top: 0;
    
                    }
    
                    .woocommerce-billing-fields__field-wrapper {
    
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
        
                        > * {
        
                            width: 100%;
        
                        }
        
                        > #billing_first_name_field,
                        > #billing_last_name_field {
        
                            width: 50%;
                            width: calc(50% - (var(--woo-spacing) / 2));
        
                        }
        
                    }
    
                    .woocommerce-shipping-fields {
    
    
                    }
    
                    .woocommerce-additional-fields {
    
                        margin-top: var(--woo-spacing);
    
                    }
    
                } // .col2-set
    
                .checkout-order-review-wrap {
    
                    position: relative;
                    background-color: var(--woo-field-background);
                    padding: var(--woo-block-padding);
                    border-left: 1px solid var(--woo-border-color);
                    border-radius: 0 var(--woo-border-radius) var(--woo-border-radius) 0;
                    width: 50%;
    
                    h3 {
        
                        margin-top: 0;
    
                    }
    
                    .woocommerce-checkout-review-order {
    
                        position: sticky;
                        top: calc(3 * var(--woo-spacing));
    
                        table.woocommerce-checkout-review-order-table {
    
                            @include woo-nested-block();
        
                            width: 100%;
                            background-color: var(--woo-block-background);
                
                        }
    
                        #payment {
    
                            background-color: var(--woo-block-background);
                            
                            .form-row {
    
                                background-color: transparent;
    
                            }
    
                            #place_order {
    
                                float: none;
                                width: 100%;
                                margin-top: var(--woo-spacing);
                                margin-bottom: 0;
    
                            }
    
                        }
    
                    }
    
                } // .checkout-order-review-wrap
    
                @media only screen and (max-width: 960px) {
    
                    flex-direction: column;
    
                    .customer-details-wrap {
    
                        width: 100%;
    
                    }
    
                    .checkout-order-review-wrap {
    
                        width: 100%;
    
                    }
                    
                }
    
            } // form.checkout
    
            form#order_review { //pay_for_order
    
                padding: 0;
    
                table.shop_table {
    
                    width: 100%;
    
                }
    
                #payment {
    
                    padding: var(--woo-block-padding);
                    background-color: var(--woo-field-background);
    
                    .wc_payment_methods,
                    .form-row {
                        
                        background: var(--woo-block-background);
    
                    }
    
                }
    
            } // form#order_review

        }

    } // body.woocommerce-checkout

    // ORDER RECEIVED

    &.woocommerce-order-received {

        .woocommerce {

            ul.woocommerce-order-overview {

                @include woo-block();

                display: flex;
                flex-direction: row;
                font-size: 1em;

                li {

                    margin: 0;

                    &:not(:last-child) {

                        margin-right: var(--woo-spacing);

                    }

                    strong {

                        margin-top: 0.5em;

                    }

                }

                @media only screen and (max-width: 768px) {

                    flex-direction: column;

                    li {

                        margin-right: 0;

                        &:not(:last-child) {

                            margin-bottom: var(--woo-spacing);
    
                        }

                    }

                }

            }

            table.woocommerce-table--order-details {

                width: 100%;

            }

            section.woocommerce-customer-details {

                address {
    
                    border: 0;
                    @include woo-block();
    
                }
    
            }

        }

    } // body.woocommerce-order-received

    // LOST PASSWORD

    &.woocommerce-lost-password {

        .woocommerce {

            flex-direction: column;

            form.woocommerce-ResetPassword {

                @include woo-block();

            }

        }

    } // body.woocommerce-lost-password

} // body
