$woo-input-radio-width: 24px;

// MIXINS

@mixin woo-caps {

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    font-weight: normal;

}

@mixin woo-block {
    
    box-shadow: var(--woo-block-shadow);
    border-radius: var(--woo-border-radius);
    border: var(--woo-block-border);
    background: var(--woo-block-background);
    padding: var(--woo-block-padding);

    @include p-pad();

}

@mixin woo-nested-block {
    box-shadow: var(--woo-nested-block-shadow);
    border: var(--woo-nested-block-border);
}

@mixin woo-unblock {

    

}

@mixin woo-field-focus {
    box-shadow: var(--woo-field-focus-box-shadow);
}

@mixin woo-reset-field-focus {
    box-shadow: initial;
}

@mixin woo-field-radio {

    background: white;
    display: block;
    width: $woo-input-radio-width;
    height: $woo-input-radio-width;
    border: 0;

    &:hover {

        box-shadow: 0px 0px 0px 2px var(--woo-field-color);
        
    }

    &:checked {

        background-color: var(--woo-field-color);
        box-shadow: 0px 0px 0px 6px inset white, 0px 0px 0px 2px var(--woo-field-color);

        &:hover {

            box-shadow: 0px 0px 0px 8px inset white, 0px 0px 0px 2px var(--woo-field-color);

        }

    }

}

@mixin woo-field-label {

    margin-top: 0;
    margin-bottom: 0;
    //line-height: 1.4;
    font-weight: var(--woo-field-label-font-weight);
    font-size: var(--woo-field-label-font-size);
    color: var(--woo-field-label-color);

}

@mixin woo-label-radio {

    flex-grow: 1;
    display: block;
    width: calc(100% - #{$woo-input-radio-width});
    padding-left: var(--woo-spacing);
    line-height: initial;
    color: initial;
    font-size: 0.9em;

    span.line {

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(var(--woo-spacing) / 4);

        &:not(:last-child) {

            margin-bottom: calc(var(--woo-spacing) / 4);

        }

    }

}

@mixin woo-coupon-field {
    text-transform: var(--woo-coupon-field-text-transform);
    letter-spacing: var(--woo-coupon-field-letter-spacing);
}

@mixin woo-reset-form-row {

    background-color: initial;
    border-radius: initial;
    padding: 0;
    margin-bottom: 0;

}

@mixin woo-table-block {

    border-spacing: 0;
    border-radius: var(--woo-border-radius);
    border: var(--woo-block-border);
    background: var(--woo-block-background);
    box-shadow: var(--woo-block-shadow);
    padding: var(--woo-table-padding);

}

.woo-block {

    @include woo-block();

}

// CSS VARIABLES

:root {

    --woo-page-background: #fbfbfb;

    --woo-header-margin-bottom: 0.5em;
    --woo-spacing: 1rem;

    --woo-border-color: #eee;
    --woo-border-radius: 0.5rem;

    --woo-field-bg: transparent;
    --woo-field-color: #111;
    --woo-field-row-bg: #f7f7f8;
    --woo-field-focus-box-shadow: 0px 0px 0px 2px #646464 inset;
    --woo-field-label-font-size: 0.8em;
    --woo-field-label-font-weight: 600;
    --woo-field-label-color: #909090;
    --woo-field-description-size: 0.8em;
    --woo-field-description-weight: 600;
    --woo-field-description-color: #a5a5a5;
    --woo-required-color: var(--wc-red);

    --woo-block-padding: calc(var(--woo-spacing) * 2);
    --woo-block-margin: calc(var(--woo-spacing) * 2);
    --woo-block-shadow: 0px 4.5px 3.6px rgba(0, 0, 0, 0.024), 0px 12.5px 10px rgba(0, 0, 0, 0.035), 0px 30.1px 24.1px rgba(0, 0, 0, 0.046), 0px 100px 80px rgba(0, 0, 0, 0.07);
    --woo-block-border: none;
    --woo-block-background: white;

    --woo-table-padding: 0;

    --woo-nested-block-shadow: none;
    --woo-nested-block-border: 1px solid var(--woo-border-color);

    --woo-coupon-field-text-transform: uppercase;
    --woo-coupon-field-letter-spacing: 1px;

}

@media only screen and (max-width: 420px) {

    :root {

        --woo-block-padding: var(--woo-spacing);
        --woo-block-margin: var(--woo-spacing);

    }

}