#page-loader .page-loader-spinner,
#page-loader .page-loader-spinner:before,
#page-loader .page-loader-spinner:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	animation-fill-mode: both;
	animation: page-loader-spin %%SPEED%%s infinite ease-in-out;
}
#page-loader .page-loader-spinner {
	color: %%COLOR%%;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;
}
#page-loader .page-loader-spinner:before,
#page-loader .page-loader-spinner:after {
	content: '';
	position: absolute;
	top: 0;
}
#page-loader .page-loader-spinner:before {
	left: -3.5em;
	animation-delay: -0.32s;
}
#page-loader .page-loader-spinner:after {
	left: 3.5em;
}
@keyframes page-loader-spin {
	0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em; }
	40% { box-shadow: 0 2.5em 0 0; }
}
